body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

#tipoBaja input {
    border: 1px solid grey;
}
