<mat-form-field id="company">
    <mat-label>Compañía</mat-label>
    <input matInput>
</mat-form-field>

<br>

<mat-form-field id="name">
    <mat-label>Nombre</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field id="surname">
    <mat-label>Apellidos</mat-label>
    <input matInput>
</mat-form-field>

<br>

<mat-form-field id="address1">
    <mat-label>Dirección</mat-label>
    <input matInput>
</mat-form-field>

<br>

<mat-form-field id="address2">
    <mat-label>Dirección 2</mat-label>
    <input matInput>
</mat-form-field>

<br>

<mat-form-field id="city">
    <mat-label>Ciudad</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field id="state">
    <mat-label>Provincia</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field id="postal_code">
    <mat-label>Código Postal</mat-label>
    <input matInput>
</mat-form-field>

<br>

<div class="action_buttons">
    <button mat-raised-button color="primary">Enviar</button>
</div>