<mat-grid-list cols="3" rowHeight="1:1">
    
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar src="./assets/imgs/gamba.webp" class="avatar">
                <mat-card-title>Gamba</mat-card-title>
                <mat-card-subtitle>Marisco</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/imgs/gamba.webp" alt="Imagen de una Gamba">
            <mat-card-content>
                <p>
                    Son bichos raros del mar, a mi me dan bastante asquete pero a la gente les gusta.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Añadir</button>
                <button mat-button>Quitar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar src="./assets/imgs/choco.jpg" class="avatar">
                <mat-card-title>Choco</mat-card-title>
                <mat-card-subtitle>Marisco</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/imgs/choco.jpg" alt="Imagen de una Sepia">
            <mat-card-content>
                <p>
                    Estos sí están ricos fritos.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Añadir</button>
                <button mat-button>Quitar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar src="./assets/imgs/perrito-caliente.jpg" class="avatar">
                <mat-card-title>Perrito Caliente</mat-card-title>
                <mat-card-subtitle>Carne</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/imgs/perrito-caliente.jpg" alt="Imagen de un perrito caliente">
            <mat-card-content>
                <p>
                    Guau guau.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Añadir</button>
                <button mat-button>Quitar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <img mat-card-avatar src="./assets/imgs/percebe.webp" class="avatar">
                <mat-card-title>Percebes</mat-card-title>
                <mat-card-subtitle>Marisco</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/imgs/percebe.webp" alt="Imagen de un percebe">
            <mat-card-content>
                <p>
                    No sé ni que es esto.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Añadir</button>
                <button mat-button>Quitar</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>